body {
    height: 10000px;

}

header {
    height : 350px;
    text-align: center;
    background: url(images/banner2.JPG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
h2{
    text-align: center;
    width:100%;
    position: absolute;
    float : center;
    top : 25%;
    color : rgb(62, 19, 214);

}

footer {
    position: fixed;
    bottom : 0;
    float left;
    line-height : 50px;
    padding : 3rem;
    background-color : #123456;
    color : blue;
    width : 100%;
  }